html {
    background-color: #EBFFFF;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

#info {
    line-height: 20px;
    background-color: #ffffff;
    min-height: 700px;
    width: 270px;
    float: left;
    padding: 5px;
}

body {
    border-radius: 30px;
    border-style: solid;
    border-color: #66CCFF;
    margin: 2em auto;
    padding: 2em 2em 4em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1 {
    color: #222;
    font-weight: 600;
    line-height: 1em;
}

img {
    border-radius: 30px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
}

a {
    color: #0083e8;
}